[vcenter-name]
type=esx
server=vcenter.example.org
username=administrator@example.org
password=xxxxxxxx
#encryped_password=
owner="Default_Organization"
env=Library
hypervisor_id=hostname

rhsm_hostname=satelliteserver.example.org
rhsm_prefix=/rhsm
rhsm_username=admin
rhsm_password=redhat
#rhsm_encrypted_password=xxxxxxxxxxxxxxxxxxx

[kvm-name]	# use ssh-copy-id
type=libvirt
server=qemu+ssh://kvm.example.com/system
username=root
owner=Default_Organization"
env=Library
hypervisor_id=hostname

rhsm_hostname=satelliteserver.example.org
rhsm_prefix=/rhsm
rhsm_username=admin
rhsm_password=redhat
#rhsm_encrypted_password=xxxxxxxxxxxxxxxxxxx
